* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }

  img {
    height:auto;
    max-width:100%;
  }

  /* Navigation Bar CSS */

  /* Skip to main content code taken from https://www.w3schools.com/accessibility/accessibility_skip_links.php */
  .skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
  /* End of skip to main content code */

  header {
    padding-left: 30px;
    padding-right: 30px;

    background-color: aliceblue;

    display: flex;
    flex-flow: wrap;
    justify-content: center;

    align-items: flex-start;
  }

  #chatheader {
    padding-left: 220px;
  }

  #profilepic {
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 15px;
  }

  #NavigationUnorderedLinks {
    display: flex;
    flex-flow: nowrap;
    padding: 0;
    margin-left: 4px;
  }

  .NavigationLink {
    padding: 10px;

    margin-left: 2px;
    margin-right: 2px;

    border: lightblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;

    list-style-type: none;
    text-align: center;

    background-color: white;

    display:flex;
  }

  /* End of Navigation Bar CSS */



  /* Intro Page CSS */

/*  #intropara {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
  }

  #introtextcontainer {
    max-width: 50%;
  }

*/
  /* End of Intro Page CSS */

  #informationtextcontainer {
    display: flex;
  }

  .informationtext {
    flex-grow: 1;
  }


  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  /*make the active user text inherit style from container*/

  .inbox__people{
      color: white;
      padding: 16px;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }


  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;


    /* make space for input and message button at bottom of page */
    margin-bottom: 50px;
  }


  /* Chat Messages Style */

  .outgoing__message {
    /* background colour of text box */
    background-color: aliceblue;
    /* padding within the text box */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* gap beneath the text box before next message */
    margin-bottom: 5px;
    /* visible border around text box */
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: darkcyan;
    /* text position */
    text-align: right;
  }

  .incoming__message {
    /* background colour of text box */
    background-color: darkslateblue;
    /* padding within the text box */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* gap beneath the text box before next message */
    margin-bottom: 5px;
    /* visible border around text box */
    border-style: dashed;
    border-width: 2px;
    border-radius: 7px;
    border-color: black;
    /* text position */
    text-align: left;
    color: white;
  }  


  /* Style for content of chat messages */
  .message__author {
    text-decoration: underline;
  }

  .time_date {
    font-weight: bold;
  }

  /* Style for input and message button, inspire by https://github.com/socketio/chat-example/blob/master/index.html */

  .message_form {
    /* box position */
    position: fixed;
    bottom: 0px;
    left: 200px;
    right: 0px;
    /* box sixe */
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    /* box decoration */
    background-color: cadetblue;
  }

  .message_form__input {
    border-width: 2px;
    border-radius: 7px;
    border-color: grey;

    padding: 15px;
    flex-grow: 1;

    margin: 5px;
  }

  .message_form__button {
    border-width: 2px;
    border-radius: 7px;
    border-color: grey;
    border-style: solid;

    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;

    font-weight: bold;
  }
  